@page "/"

    <header class="root">
        <h1 class="title-93">Controls</h1>
    </header>
    <div class="section" style="transition-delay: 0s;">
        <div id="overview" tabindex="-1">
            <h2 class="subHeading hiddenContent">Overview</h2>
        </div>
        <div class="content">
            <div class="ms-Markdown">
                <p class="root-129">
                    Fluent UI's robust, up-to-date web controls are built with Blazor. Look through the control list to see the building blocks that are available using Fluent UI Blazor.
                </p>
            </div>
        </div>
    </div>
    <div class="section" style="transition-delay: 0.05s;">
    <div class="sectionHeader">
        <h2 class="subHeading" id="basic-inputs" tabindex="-1">Basic Inputs</h2>
        </div>
    <div class="content">
        <ul class="uListFlex">
        <li class="uThird"><a href="buttonspage" class="ms-Link root-131">Button</a></li>
        <li class="uThird"><a href="checkboxpage" class="ms-Link root-131">Checkbox</a></li>
        <li class="uThird"><a href="choicegrouppage" class="ms-Link root-131">ChoiceGroup</a></li>
        <li class="uThird"><a href="combobox" class="ms-Link root-131">ComboBox</a></li>
        <li class="uThird"><a href="dropdownpage" class="ms-Link root-131">Dropdown</a></li>
        <li class="uThird"><a href="labelpage" class="ms-Link root-131">Label</a></li>
        <li class="uThird"><a href="linkpage" class="ms-Link root-131">Link</a></li>
        <li class="uThird"><a href="ratingpage" class="ms-Link root-131">Rating</a></li>
        @*<li class="uThird"><a href="searchboxp" class="ms-Link root-131">SearchBox</a></li>*@
        <li class="uThird"><a href="sliderpage" class="ms-Link root-131">Slider</a></li>
        <li class="uThird">@*<a href="spinbutton" class="ms-Link root-131">SpinButton</a>*@</li>
        <li class="uThird"><a href="textfieldpage" class="ms-Link root-131">TextField</a></li>
        <li class="uThird"><a href="togglepage" class="ms-Link root-131">Toggle</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <h1>Icons</h1>
        <Icon IconName="Airplane" ClassName="iconExample" />
        <Icon IconName="Mail" ClassName="iconExample" />
        <Icon IconName="Video" ClassName="iconExample red" />
        <Icon IconName="EditMirrored" ClassName="iconExample red" />

        <PrimaryButton Text="Test" />
    </div>
    <div class="section">
        <h1>Image icon</h1>
        <Icon IconSrc="smallSampleImage.jpg" ClassName="iconExample" />
    </div>
    @code{
        bool isChecked = false;
    }